* {
    margin: 0.5em;
}
body {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: row;
}

nav {
    background-color: black;
}

nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}

/*002*/
nav a {
    float: inline-start;
    color: white;
    padding: 0.8em 1em;
    text-decoration: none;
    font-size: 20px;
}

main section {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

main section section {
    display: flex;
    flex-direction: row;
    gap: 5em;
}

aside {
    flex-shrink: 1;

}