article {
    display: inline-block;
    vertical-align: top; 
    margin: 1em;
    border-radius: 2%;
    padding: 1em;
    border: 0.2em solid #333;
    max-width: 15em;
    background-color: #f0f0f0;
}
