main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;    
}

main section  {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main > section + section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}



main > table + section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header, main > table + section article > section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2em;
}

header section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

aside li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5em;
}


