body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

nav {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 0.5em;
}


nav ul li {
    display: inline;
    margin-right: 1em;
    padding: 1em;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 0.5em;
}

nav a:hover {
    background-color: white;
    color: #333;
}

h1 {
    font-size: 36px;
}

/* Contenedor principal */
main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
}

/* Géneros Literarios */
section {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

h2 {
    font-size: 2rem;
    color: #333;
}

p {
    font-size: 1.2rem;
    color: #666;
}

/* Tabla de Libros */
table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
    margin: 0 auto;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #444;
    color: #fff;
}

td {
    background-color: #f9f9f9;
}

/* Estrellas para calificación */
.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
    position: relative;
}

.star {
    display: inline-block;
    font-size: 20px;
    color: #ffcc00;
    padding: 0 2px;
}

footer {
    background-color: #333;
    
    text-align: center;
    padding: 10px 0;
}

footer p, footer h2 {
    color: #fff;
}