body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
}

nav {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 0.5em;
}


nav ul li {
    display: inline;
    margin-right: 1em;
    padding: 1em;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 0.5em;
}

nav a:hover {
    background-color: white;
    color: #333;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 2rem;
    color: #333;
}

footer {
    background-color: #333333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

main, header {
    margin: 1em;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

header section {
    padding: 4em;
}

header img:first-child {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

header img:last-child {
    width: 25%;
    height: auto;
}

main > article, section > article {
    margin: 10px;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    border: 2px solid #333;
    width: 300px;
    background-color: #f0f0f0;
}

main > table + section article {
    width: 100%;
    border: none;
    background-color: white;
}

main > table + section article > section {
    margin-left: 2em;
    margin-right: 2em;
}

main > table + section article > section img {
    width: 20%;
    height: auto;
}


main > table + section img {
    width: 100%;
}

article h2 {
    font-size: 24px;
    margin-top: 0;
}

section > article > img{
    max-width: 4em;
    height: auto;
}

li img {
    width: 30px;
    height: 30px;
}

aside {
    margin: 1em;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

figure {
    width: 70%;
    margin: 20px 0;
}


aside img {
    max-width: 4em;
    height: auto;
    margin: 10px;
}

section span {
    display: inline-block;
    font-size: 20px;
    color: #ffcc00;
    padding: 0 2px;
}