body {
    margin: 0;
    font-family: 'Lexend Deca', sans-serif;
    background-color: #dad7c4;
}

header {
    background-color: #49392a;
    color: #fff;
    text-align: center;
    padding: 1.25em;
}

nav {
    background-color: #49392a;
    color: #fff;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 1em;
    margin: 1em;
}

nav a:hover {
    background-color: white;
    color: #333;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.5em;
    color: #333;
}

footer {
    background-color: #49392a;
    color: #fff;
    text-align: center;
    padding: 1em;
}

section {
    margin: 1em;
    background-color: #fff;
    border-radius: 1%;
    box-shadow: 0 1em 1em rgba(0, 0, 0, 0.1);
    padding: 2em;
}

main section:first-child img{
    border-radius: 50%;
    width: 12em;
    height: auto;
}

ul {
    list-style: none;
}

li img {
    width: 2em;
    height: 2em;
}

aside {
    margin: 1em;
    background-color: #fff;
    border-radius: 1%;
    box-shadow: 0 1em 1em rgba(0, 0, 0, 0.1);
    padding: 1em;
}

aside article img {
    width: 50%;
    height: auto;
}

aside img {
    width: 2em;
    height: auto;
    margin: 1em;
}

