table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
    margin: 1em;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #664f3a;
    color: #fff;
}

td {
    background-color: #f9f9f9;
}

caption {
    background-color: #49392a;
    color: white;
    font-size: 18px;
    padding: 10px;
    text-align: center;
}

tbody section {
    display: flex;
    flex-direction: row;
    align-items: center;
}