table {
    width: 100%;
    align-self: center;
    border-collapse: collapse;
    border: 0.1em solid #ccc;
    margin: 1em;
}

th, td {
    border: 0.1em solid #ccc;
    padding: 1em;
    text-align: left;
}

th {
    background-color: #664f3a;
    color: #fff;
}

td {
    background-color: #f9f9f9;
}

td p {
    display: inline-block;
    font-size: larger;
    padding: 0 0.2em;
}


caption {
    background-color: #49392a;
    color: white;
    font-size: 1.2em;
    padding: 0.5em;
    text-align: center;
}

tbody section {
    display: flex;
    flex-direction: row;
    align-items: center;
}

h2 + section {
    overflow-x: auto;
}