header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

header section {
    display: flex;
    flex-direction: column;
}

h2 {
    margin-left: 1em;
}

main  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

main img {
    width: 20%;
    height: auto;
}
