body {
    font-family: "Lexend Deca", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #dad7c4;
}

header {
    background-color: #49392a;
    color: #fff;
    text-align: center;
    padding: 1.25em 0;
}

h1 {
    margin: 0;
    font-size: 2.5rem;
}

nav {
    background-color: #cb4527;
    color: #fff;
    text-align: center;
    padding: 0.5em;
}

nav ul li {
    display: inline;
    margin-right: 1em;
    padding: 1em;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 0.5em;
}

nav a:hover {
    background-color: white;
    color: #333;
}

main {
    padding: 2em;
}

img {
    border-radius: 0.5em;
    box-shadow: 0 0 0.6em rgba(0, 0, 0, 0.6);
}

main img {
    width: 70%;
    height: auto;
    margin-top: 1em;
}

main p {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 1.25em;
}

footer {
    background-color: #49392a;
    color: #fff;
    text-align: center;
    padding: 1.25em 0;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer li {
    margin-bottom: 1em;
}

footer a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
}

aside li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5em;
}

aside img {
    width: 10%;
    height: auto;
    margin-right: 0.5em; 
    transition: transform .2s;
}

aside img:hover {
    transform: scale(3);  
}

article {
    border: 0.3em solid #49392a;
    border-radius: 2em;
    background-color: white;
    padding: 2em;
    color: #49392a;
}

section h3 {
    margin-top: 1em; 
    font-size: 18px; 
    border-bottom: 0.2em solid #49392a;
    padding-bottom: 0.6em; 
}

main section + section {
    width: 80%;
}

main section + section img {
    width: 30%;
    height: auto;
    margin-bottom: 3em;
}