/* Estilos globales */
body {
    font-family: Lexend Deca, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
    font-size: 2.5rem;
}

nav {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 0.5em;
}

nav ul li {
    display: inline;
    margin-right: 1em;
    padding: 1em;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 0.5em;
}

nav a:hover {
    background-color: white;
    color: #333;
}

main {
    margin: 2em 2em 2em 2em;
    padding: 2em;
    background-color: white;
    border-radius: 1em;
}

main img {
    width: 100%;
    height: auto;
    border-radius: 2%;
    margin-top: 1em;
}

/* Sección principal */
main p {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 20px;
}

article {
    margin: 1em;
    border-radius: 0.5em;
    padding: 1em;
    
}


/* Navegación anclada */
section {
    width: 45%;
}

/* Enlaces externos */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer li {
    margin-bottom: 10px;
}

footer a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
}




aside li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5em;
}

aside img {
    width: 5%; /* Establece el ancho relativo al 20% del contenedor */
    height: auto; /* Mantén la proporción de aspecto */
    margin-right: 5px; /* Agrega un pequeño margen entre la imagen y el texto */
}